.navbar-heading {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
}

#searchbox-label {
    font-size: 1.25rem;
    font-weight: 600;
}

#uvi {
    border-radius: 3px;
    color: white;
    padding: 3px;
}

.list-group-item {
    cursor: pointer;
}

.forecast {
    color: white;
    background-color: #007BFF;
    border-radius: 2px;
}